@using Projects_Engineers_Data;

@{
    ViewBag.Title = "Feed";
}
<br />
<h2>RSS Feed Reader</h2>
<hr />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id Honeywell</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.RSSFeed != null)
        {
            foreach (var usr in ((List<PE_User>)ViewBag.RSSFeed).Take(10).OrderBy(x => x.Name))
            {
                <tr>
                    <td>@usr.Id_Honeywell</td>
                    <td>@usr.Name</td>
                </tr>
            }
        }
    </tbody>
</table>  